<%- include("partials/header.ejs") %> 

<h1>Home</h1>

<p><%= content %> </p>

<% postsArray.forEach(function(post){ %>
    <h1><%= post.title %> </h1>
    <% if(post.content.length < 140){ %> 
        <p><%= post.content %> </p> 
    <%  }else{ %> 
            <p><%= post.content.slice(0,140) %>... </p><a href="/posts/<%=post.title%>">Read more</a>
    <%   } %> 
<%   }); %> 
                

<%- include("partials/footer.ejs") %> 